<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Tự điển Thiều Chửu</title>
    
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- SEO description and info -->
    <meta name="description" content="Thiều Chửu - Ứng dụng tra từ, tra âm, pinyin, tra bộ, tra nét">

  <!-- Manifest and icons -->
    <link rel="manifest" href="./manifest.json">
    <link rel="icon" type="image/png" href="./images/favicon.png">
    <meta name="theme-color" content="#e8eaf6">
    <link rel="apple-touch-icon" sizes="192x192" href="./images/icon-192.png">

    <!-- Add to homescreen for Chrome on Android. -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="local Text Edit">

    <!-- Tile icon for Windows 8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="./images/icon-144.png">
    <meta name="msapplication-TileColor" content="rgb(208 235 238 / 59%)">
    <meta name="msapplication-tap-highlight" content="no">

  <!-- Bootstrap CSS -->
  <link href="./bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link href="./js/style.css" rel="stylesheet">  
  <script src="./angular-1.6.1/angular.min.js"></script>
  <script src="./angular-1.6.1/angular-sanitize.js"></script>
  <script src="./js/jszip/jszip.min.js"></script>
  <script src="./js/loadDB.js"></script>
  <script src="./js/directive.js"></script>
  <script src="./js/ctrl-thieu-chu-jszip.js"></script>
  <script src="./js/rum.js"></script>
</head>
<body>

 <div ng-controller='ctrlThieuChu' style="margin-bottom: 60px;">
  <my-tabs on-init="getCtrlTabs(obj)" on-click="selectTab(obj)">
            <div class="container">
    <header>
         <!-- Fixed navbar -->
          <nav class="navbar navbar-expand-md navbar-dark fixed-button bg-dark">
              <input type='text' ng-model='key'><button ng-click="search(key)"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>

          </nav>
    </header>
            </div>
    <my-pane title="Âm Hán" show=true>
      Để tìm Âm Hán ví dụ: nhân
      <div class='overflowable-char'>
        <a class="s-button" href="#" ng-repeat="bs in result2" ng-click="findChiTiet(bs[9])" title="{{bs[4]}}"><h4>{{bs[9]}} </h4></a>
      </div>
      <hr>
      <div ng-repeat="bs in result">
        <div><h1>{{bs[9]}} </h1> <span>{{bs[4]}}</span> <b>Pinyin:</b><span>{{bs[5]}}</span></div>
        <div><span ng-if="bs[7]!='/'"><b>Di thể</b>: {{bs[7]}}<br></span><span ng-if="bs[8]!='/'"><b>Giảng thể</b>:{{bs[8]}}</span> </div>
        <span><b>Bộ:</b> {{getTenBo(bs[1])}}</span><br><span><b>Số nét:</b>{{bs[3]}}({{bs[3]-bs[2]}}/{{bs[2]}}) </span> 
        <ul>
          <li ng-repeat='i in bs[6]'>{{i}}</li>
        </ul>    
        <hr>
      </div>
      <!-- <my-mean result="result"></my-mean> -->
    </my-pane>
    <my-pane title="Pinyin" show=true>
      Để tìm Pinyin ví dụ: chu3
      <div class='overflowable-char'>
        <a class="s-button" href="#" ng-repeat="bs in result2" ng-click="findChiTiet(bs[9])" title="{{bs[4]}}"><h4>{{bs[9]}} </h4></a>
      </div>
      <hr>
      <div ng-repeat="bs in result">
        <div><h1>{{bs[9]}} </h1> <span>{{bs[4]}}</span> <b>Pinyin:</b><span>{{bs[5]}}</span></div>
        <div><span ng-if="bs[7]!='/'"><b>Di thể</b>: {{bs[7]}}<br></span><span ng-if="bs[8]!='/'"><b>Giảng thể</b>:{{bs[8]}}</span> </div>
        <span><b>Bộ:</b> {{getTenBo(bs[1])}}</span><br><span><b>Số nét:</b>{{bs[3]}}({{bs[3]-bs[2]}}/{{bs[2]}}) </span> 
        <ul>
          <li ng-repeat='i in bs[6]'>{{i}}</li>
        </ul>    
        <hr>
      </div>
    </my-pane>
    <my-pane title="Chử Hán" show=true>
      Để tìm Chử Hán ví dụ: 敲<br>
      <b>Số nét còn lại</b><br>
      <a class="s-button" href="#" ng-repeat="bs in resultSoNetConLai" ng-click="findBoConLai(bs)">{{bs}} </a>  
      <div class='overflowable-char'>
        <a class="s-button" href="#" ng-repeat="bs in result2" ng-click="findChiTiet(bs[9])" title="{{bs[4]}}"><h4>{{bs[9]}} </h4></a>
      </div>
      <hr>
      <div ng-repeat="bs in result">
        <div><h1>{{bs[9]}} </h1> <span>{{bs[4]}}</span> <b>Pinyin:</b><span>{{bs[5]}}</span></div>
        <div><span ng-if="bs[7]!='/'"><b>Di thể</b>: {{bs[7]}}<br></span><span ng-if="bs[8]!='/'"><b>Giảng thể</b>:{{bs[8]}}</span> </div>
        <span><b>Bộ:</b> {{getTenBo(bs[1])}}</span><br><span><b>Số nét:</b>{{bs[3]}}({{bs[3]-bs[2]}}/{{bs[2]}}) </span> 
        <ul>
          <li ng-repeat='i in bs[6]'>{{i}}</li>
        </ul>    
        <hr>
      </div>
    </my-pane>
    <my-pane title="Tra Bộ" show=true>
       <span ng-repeat="bs in boThu" class="bo-group"><span class="s-button so-net">{{bs.net}}</span><a class="s-button" href="#" ng-repeat="(i,b) in bs.arr" ng-click="findBoThu(b);" ng-init="getAmHanCuaBo(b,bs)" title="{{bs[4][i]}}"><h4>{{b}}</h4></a></span>
    </my-pane>
    <my-pane title="Tra Nét" show=true>
      <a class="s-button" ng-repeat="bs in soNet" href="#" ng-click="findBoThu(bs)">{{bs}} </a><br>
      <b>Số nét còn lại</b><br>
      <a class="s-button" href="#" ng-repeat="bs in resultSoNetConLai" ng-click="findBoConLai(bs)">{{bs}} </a>  
      <div class='overflowable-char'>
        <a class="s-button" href="#"  ng-repeat="bs in result2" ng-click="findChiTiet(bs[9])" title="{{bs[4]}}" ><h4>{{bs[9]}} </h4></a>
      </div>
      <hr>
      <div ng-repeat="bs in result">
        <div><h1>{{bs[9]}} </h1> <span>{{bs[4]}}</span> <b>Pinyin:</b><span>{{bs[5]}}</span></div>
        <div><span ng-if="bs[7]!='/'"><b>Di thể</b>: {{bs[7]}}<br></span><span ng-if="bs[8]!='/'"><b>Giảng thể</b>:{{bs[8]}}</span> </div>
        <span><b>Bộ:</b> {{getTenBo(bs[1])}}</span><br><span><b>Số nét:</b>{{bs[3]}}({{bs[3]-bs[2]}}/{{bs[2]}}) </span> 
        <ul>
          <li ng-repeat='i in bs[6]'>{{i}}</li>
        </ul>
        <hr>
      </div>
    </my-pane>
    <my-pane title="Tải Về" show="{{false}}">
        <div></div>
    </my-pane>
  </my-tabs>
</div>

<footer class="footer">
  <div class="container">
  <span> Từ Điển Thiều Chửu </span> <span><b>Phần mềm bởi:</b> Thích Chơn Không Khai Chánh</span>
  </div>
</footer>

</body>
</html>