<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="UTF-8">
  <title>Tự điển Thiều Chửu</title>
    
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="./bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link href="./js/style.css" rel="stylesheet">  
  <script src="./hanviet/dataV4.json"></script>
  <script src="./angular-1.6.1/angular.min.js"></script>
  <script src="./angular-1.6.1/angular-sanitize.js"></script>
  <script src="./js/ctrl-thieu-chu.js"></script>

</head>
<body>
 <div ng-controller='ctrlThieuChu'>
  <my-tabs on-init="getCtrlTabs(obj)" on-click="selectTab(obj)">
    <header>
         <!-- Fixed navbar -->
          <nav class="navbar navbar-expand-md navbar-dark fixed-button bg-dark">
            <div class="container">
              <input type='text' ng-model='key'><button ng-click="search(key)"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
            </div>
            <a class="navbar-brand" href="#">
              <span my-boot="boot" ></span>
            </a>
          </nav>
    </header>
    <my-pane title="Âm Hán">
      Để tìm Âm Hán ví dụ: nhân
      <div class='overflowable-char'>
        <a class="s-button" href="#" ng-repeat="bs in result2" ng-click="findChiTiet(bs.ky_tu)" title="{{bs.am_han}}"><h4>{{bs.ky_tu}} </h4></a>
      </div>
      <hr>
      <div ng-repeat="bs in result">
        <div><h1>{{bs.ky_tu}} </h1> <span>{{bs.am_han}}</span> <b>Pinyin:</b><span>{{bs.pinyin}}</span></div>
        <span><b>Bộ:</b> {{getTenBo(bs.bo_thu)}}</span> <span><b>Số nét:</b>{{bs.so_net_2}}({{bs.so_net_2-bs.so_net_1}}/{{bs.so_net_1}}) </span> 
        <p>{{bs.nghia}}</p>     
        <hr>
      </div>
      <!-- <my-mean result="result"></my-mean> -->
    </my-pane>
    <my-pane title="Pinyin">
      Để tìm Pinyin ví dụ: chu3
      <div class='overflowable-char'>
        <a class="s-button" href="#" ng-repeat="bs in result2" ng-click="findChiTiet(bs.ky_tu)" title="{{bs.am_han}}"><h4>{{bs.ky_tu}} </h4></a>
      </div>
      <hr>
      <div ng-repeat="bs in result">
        <div><h1>{{bs.ky_tu}} </h1> <span>{{bs.am_han}}</span> <b>Pinyin:</b><span>{{bs.pinyin}}</span></div>
        <span><b>Bộ:</b> {{getTenBo(bs.bo_thu)}}</span> <span><b>Số nét:</b>{{bs.so_net_2}}({{bs.so_net_2-bs.so_net_1}}/{{bs.so_net_1}}) </span> 
        <p>{{bs.nghia}}</p>     
        <hr>
      </div>
    </my-pane>
    <my-pane title="Chử Hán">
      Để tìm Chử Hán ví dụ: 敲<br>
      <b>Số nét còn lại</b><br>
      <a class="s-button" href="#" ng-repeat="bs in resultSoNetConLai" ng-click="findBoConLai(bs)">{{bs}} </a>  
      <div class='overflowable-char'>
        <a class="s-button" href="#" ng-repeat="bs in result2" ng-click="findChiTiet(bs.ky_tu)" title="{{bs.am_han}}"><h4>{{bs.ky_tu}} </h4></a>
      </div>
      <hr>
      <div ng-repeat="bs in result">
        <div><h1>{{bs.ky_tu}} </h1> <span>{{bs.am_han}}</span> <b>Pinyin:</b><span>{{bs.pinyin}}</span></div>
        <span><b>Bộ:</b> {{getTenBo(bs.bo_thu)}}</span> <span><b>Số nét:</b>{{bs.so_net_2}}({{bs.so_net_2-bs.so_net_1}}/{{bs.so_net_1}}) </span> 
        <p>{{bs.nghia}}</p>     
        <hr>
      </div>
    </my-pane>
    <my-pane title="Tra Bộ">
      <span ng-repeat="bs in boThu"><span class="s-button so-net">{{bs.net}}</span><a class="s-button" href="#" ng-repeat="(i,b) in bs.arr" ng-click="findBoThu(b);" ng-init="getAmHanCuaBo(b,bs)" title="{{bs.am_han[i]}}"><h4>{{b}}</h4></a></span>
    </my-pane>
    <my-pane title="Tra Nét">
      <a class="s-button" ng-repeat="bs in soNet" href="#" ng-click="findBoThu(bs)">{{bs}} </a><br>
      <b>Số nét còn lại</b><br>
      <a class="s-button" href="#" ng-repeat="bs in resultSoNetConLai" ng-click="findBoConLai(bs)">{{bs}} </a>  
      <div class='overflowable-char'>
        <a class="s-button" href="#"  ng-repeat="bs in result2" ng-click="findChiTiet(bs.ky_tu)" title="{{bs.am_han}}" ><h4>{{bs.ky_tu}} </h4></a>
      </div>
      <hr>
      <div ng-repeat="bs in result">
        <div><h1>{{bs.ky_tu}} </h1> <span>{{bs.am_han}}</span> <b>Pinyin:</b><span>{{bs.pinyin}}</span></div>
        <span><b>Bộ:</b> {{getTenBo(bs.bo_thu)}}</span> <span><b>Số nét:</b>{{bs.so_net_2}}({{bs.so_net_2-bs.so_net_1}}/{{bs.so_net_1}}) </span> 
        <p>{{bs.nghia}}</p>     
        <hr>
      </div>
    </my-pane>
  </my-tabs>
</div>
<footer><span> Từ Điển Thiều Chửu </span> <span><b>Phần mềm bởi:</b> Thích Chơn Không Khai Chánh</span></footer>
</body>
</html>